{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://sandbox.api.myinfo.gov.sg",
      "description": "Sandbox"
    },
    {
      "url": "https://test.api.myinfo.gov.sg",
      "description": "Test"
    },
    {
      "url": "https://api.myinfo.gov.sg",
      "description": "Production"
    }
  ],
  "info": {
    "version": "2.0.8",
    "title": "MyInfo Business",
    "x-logo": {
      "url": "https://public.cloud.myinfo.gov.sg/images/logo/myinfobiz-logo.png"
    },
    "description": "MyInfo Business REST APIs for retrieving Entity and Person data.\n\n**Note - this specification is subject to changes based on evolution of the APIs.**\n\n# Release Notes\n* **2.0.8 (27 Jul 2023)**\n  - **Data Items**\n    - New:\n      - primary-user-described-activity\n      - secondary-user-described-activity\n\n* **2.0.7 (31 Mar 2023)**\n  - **Data Items**\n    - Updated: \n      - cpfcontributions.history employer field: Corrected max length to 30 characters\n      - cpfemployers.history employer field: Corrected max length to 30 characters\n\n* **2.0.6 (26 Jan 2023)**\n  - **Data Items**\n    - Updated: \n      - sponsoredchildrenrecords updated to include LTVP\n\n* **2.0.5 (Dec 2022)**\n  - **Data Items**\n    - Updated: \n      - Corrected attribute name from cpfdependentprotectionscheme to cpfdependantprotectionscheme\n\n* **2.0.4 (Dec 2022)**\n  - **Operation**\n    - New:\n      - Add under Support Section the position code table by entity type (for Entity Object)\n\n* **2.0.3 (Nov 2022)**\n  - **Data Items**\n    - Updated:\n      - Description of 'Nationality' updated to 'Nationality/Citizenship'\n      - Description of 'Country' updated to 'Country/Place'\n  - **Operation**\n    - Updated:\n      - Downtime\n    - New:\n      - Add under Support Section the handling of null/blank returns from Myinfo Business (for Entity Object)\n\n* **2.0.2 (Aug 2022)**\n  - **Data Items**\n    - New:\n      - cpfinvestmentscheme\n      - childrenbirthrecords.vaccinationrequirements\n      - sponsoredchildrenrecords.vaccinationrequirements\n      - hdbownership.purchaseprice\n      - hdbownership.outstandinginstalment\n      - partialuinfin\n      - academicqualifications\n      - cpfhousingwithdrawal\n      - merdekagen\n      - pioneergen\n      - cpfhomeprotectionscheme\n      - cpfdependentprotectionscheme\n    - Deprecated:\n      - mailadd\n      - billadd\n      - homeno\n      - edulevel\n      - gradyear\n      - schoolname\n      - householdincome\n    - Updated:\n      - regadd updated to include FIN registered address, which may also be unavailable.\n      - Description of lastupdated to indicate that value may be blank if source agency does not have record for the user\n      - \"appointments\" and \"shareholders\" to include corppass-email and corppass-mobile number if position user is \"Individual\"\n      - Type enum for regadd (Unformatted to UNFORMATTED)\n      - Description of SG Address Block to 'Block/House of Address'\n      - Description for cpfcontributions to maximum of 15 months records\n      - marriagecertno to maximum 50 characters\n      - Local phone number default to '65'\n      - Employment Sectors of workpass to upper case, remove enumeration and provide examples of possible values \n      - Value of dob updated to include potential formats 'YYYY' and 'YYYY-MM'\n      - Removed code and desc fields from 'occupation' as these are SC/PR user provided fields. For FIN user's occupation, continue to use 'occupation.value'\n    - Removed:\n      - \"corppass-contacts\" from \"entity\"\n\n* **2.0.1 (Feb 2022)**\n  - Updates to use uuid instead of uinfin\n  - Updated SSIC reference from **SSIC 2015 (version 2018)** to **SSIC 2020**\n\n* **2.0.0 (Aug 2020)**\n  - New security headers (see Security -> Request Signing)\n  - Updates to **Person** and **Entity** schema in `entity-person`; See [Understanding the Data Structure](#section/Understanding-the-Data-Structure) for details\n  - Updated new API urls to /v2/\n  - Response changes from JWE to JWE wrapping JWS\n  - Updated maxlength for some fields in `entity` that did not have this\n    - block\n    - building\n    - street\n    - unit\n    - floor\n  - Updated SSIC reference from **SSIC 2015** to **SSIC 2015 (version 2018)**\n  - New data items available:\n    - licences\n    - gov-contracts\n    - builders\n    - contractors\n    - corppass-contacts\n  - Updated type enum for person regadd and entity addresses\n    - Unformatted to UNFORMATTED\n  - Update of Certificate Authority list\n    - Comodo to Comodo/Sectigo\n    - New CA: Netrust\n  - Updated TLS version to only 1.2\n  - Updated recommended cipher suites\n\n* **1.0.0 (Feb 2019)**\n  - Updated data items:\n    - noa(basic) to noa-basic\n    - noahistory(basic) to noahistory-basic\n\n* **0.2.5 (15 July 2019)**\n  - Updated description for entity appointments and shareholders category:\n    - If appointment holder or shareholder does not fall in any of the listed categories, the field will return `\"\"`\n      - `1` - Individual\n      - `2` - Local Company\n      - `3` - Foreign Company\n      - `4` - Unregistered Local Entity\n      - `5` - Limited Liability Partnerships\n      - `6` - Unregistered Foreign Entity\n\n* **0.2.4 (05 Dec 2018)**\n  - Base URL changes:\n    - **Production Environment**: from `myinfosg.api.gov.sg` to `api.myinfo.gov.sg`\n    - **Test Environment**: from `myinfosgstg.api.gov.sg/test` to `test.api.myinfo.gov.sg`\n    - **Sandbox Environment**: from `myinfosgstg.api.gov.sg/dev` to `sandbox.api.myinfo.gov.sg`\n\n  - Security header (`.e.` no longer needed in basestring)\n    - Before v0.2.4, when crafting the basestring of the security header, an additional `.e.` is required in the domain name: e.g. `myinfosgstg.api.gov.sg` -> `myinfosgstg.e.api.gov.sg`.\n      <br>**Note: This is no longer required**\n    - In v0.2.4, when crafting the basestring of the security header, the url in the basestring is the same as the one you call; e.g. `api.myinfo.gov.sg`\n    - For more details, please refer to Security > Request Signing section for updated instructions.\n\n  - Data items deprecated:\n    - assessyear\n    - assessableincome\n\n  - New data items available:\n    - noa(basic)\n    - noa\n    - noahistory(basic)\n    - noahistory\n\n  - Added link to [MyInfo Business demo app](https://github.com/ndi-trusted-data/myinfobiz-demo-app) under Support section for easy reference.\n\n* **0.2.3 (19 November 2018)**\n  - Updated `Entity Type` field to encompass more entity types.\n  - Added `Company Type` and `Business Constitution` to give further breakdown to `Company` and `Business` entity types.\n\n\n* **0.2.2 (9 November 2018)**\n  - Updated endpoint urls to end with `/`.\n\n* **0.2.1 (29 August 2018)**\n  - Updated description for Nationality to include a note on known issue for Singapore PR (code value: SP).\n\n* **0.2.0 (3 August 2018)**\n  - Added `Entity-Person-Sample` with no authentication for sandbox testing.\n  - Re-ordered response schema from `Entity-Person` call such that `Entity` object is before `Person` object.\n\n* **0.1.1 (24 July 2018)**\n  - Updated \"sub\" in access_token to have the format `uen`_`uinfin`\n  - Updated description of uen and unifin path parameters of Entity-Person API indicating that value can be obtained from \"sub\" in decoded access_token.\n\n* **0.1.0 (20 June 2018)**\n  - Initial Release for Pilot\n\n## Releases and Compatibility\nThe RESTful API adopts __Semantic Versioning 2.0.0__ for releases, and every new release of the API increments the version numbers in the following format:\n```\n{MAJOR}.{MINOR}.{PATCH}\n```\n\n1. `{MAJOR}` number introduces incompatible API changes with previous `{MAJOR}` number also resets `{MINOR}` to `0`,\n2. `{MINOR}` number introduces new functionalities or information that are backward compatible also resets `{PATCH}` to `0`, and\n3. `{PATCH}` number introduces bug fixes and remains backward compatible.\n\nPre-release or draft versions, when provided, are denoted by appended hypen `-` with a series of separate identifiers `{LABEL}-{VERSION}` following the `{PATCH}` number. Such releases are unstable and may not provide the intended compatibility with the specification in draft status.\n\nServing as notice, the RESTful API in version `2.X.X` are incompatible with version `1.X.X` releases.\n\nDespite backward compatibility in `{MINOR}` or `{PATCH}` releases, API consumers are best to evaluate and determine their implementation does not disrupt use-case requirements.\n\n# Known Issues\n\n  - There is a known issue with the `Nationality` field, where the return value sometimes will be `SP` which refers to \"Singapore Permanent Resident\". This value will be moved to a separate \"Residential Status\" field in later releases.\n\n\n# Overview\nThe following diagram illustrates how the integration with MyInfo Business APIs work:\n![Overview](https://public.cloud.myinfo.gov.sg/images/myinfobiz-overview.png \"MyInfo Business API Overview\")\n\nAs shown above, your application will be interfacing with our API Gateway to integrate successfully with MyInfo Business.\n\n# Environments\n\nThe RESTful API provides both testing and live environments accessible over the __Internet__ via HTTPS.\n\nConsumers are to ensure firewall clearance on their edge network nodes for connecting to the APIs.\n\nThe convention used by API endpoints' URL are in the following format:\n\n```\nhttps://{ENV_DOMAIN_NAME}/{CONTEXT}/{VERSION}/{RESOURCE}\n```\n\n\n\n  * `{ENV_DOMAIN_NAME}` indicates MyInfo's API domain names - respectively:\n    * `sandbox.api.myinfo.gov.sg`, or\n    * `test.api.myinfo.gov.sg`, or\n    * `api.myinfo.gov.sg`, following\n\n  * `/{CONTEXT}`, indicates the context of the API call = `/biz`\n\n  * `/{VERSION}` indicates the endpoint's release `{MAJOR}` version number\n  path - for this release = `/v2`\n\n  * `/{RESOURCE}` indicates the API resource path name.\n\nAny additional query string parameters are appended as needed.\n\n## Available Environments\n### 1. Sandbox Environment\nThe sandbox environment is used for your testing when developing your prototype. The Entity-Person-Sample and Entity-Person API will return test data previously shared by our officer via email. For test data matters, please contact us.\n#### Note:\n  - Domain Name: `sandbox.api.myinfo.gov.sg`\n  - PKI digital signature is **not required** for all APIs.\n  - Authorization Bearer access token is **not required** in Entity-Person-Sample API.\n  - Authorization Bearer access token **is required** in Entity-Person API.\n\n\n### 2. Test Environment\nThe test enviroment is used for testing your application with the full security measures required in production. The Entity-Person API will return test data previously shared by our officer via email. For test data matters, please contact us.\n#### Note:\n  - Domain Name: `test.api.myinfo.gov.sg`\n  - PKI digital signature **is required** for Token and Entity-Person APIs. <br>Refer to Security > Request Signing for the steps to sign your request.\n  - Authorization Bearer access token **is required** in Entity-Person API.\n\n\n### 3. Production Environment\nThe production enviroment is the actual live environment with full security measures and live data.\n#### Note:\n  - Domain Name: `api.myinfo.gov.sg`\n  - PKI digital signature **is required** for Token and Entity-Person APIs. <br>Refer to Security > Request Signing for the steps to sign your request.\n  - Authorization Bearer access token **is required** in Entity-Person API.\n\n\n\n## Scheduled Downtimes\nThe following are the scheduled downtimes for the various environments:\n\n### Production Environment\n* **CPFB data** \n  * Everyday 5:00am to 5:30am\n  * Every 1st Sun of the month from 12:00am to 8:00am\n  * Every last Sn of the month from 12:00am to 8:00am\n\n* **IRAS data**\n  * Every Wed, 2:00am to 6:00am\n  * Every Sun, 2:00am to 8:30am\n\n* **MOM data**\n  * Every 4th Sun of the month from 12:00am to 6:00am\n\n\n### Sandbox Environment\n* none\n\n### Test Environments\n* none\n\n# Security\n## HTTPS Interface\n\nMyInfo Business's API gateway supports accessing of APIs via the following interfaces:\n* HTTP version 1.1 connection over __TLS__ (Transport Layer Security) version __1.2__ standards, and cipher suites:\n  * using __AES__ (Advanced Encryption Standard) and __SHA__ (Secure Hash Algorithm),\n  * on either __GCM__ (Galois/Counter Mode) or __CBC__ (Cipher Block Chaining) mode.\n* Below is the list of recommended cipher suites that you may use:\n\n  * TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256\n  * TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256\n  * TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384\n  * TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384\n\n> **IMPORTANT:** ensure your server supports **TLS 1.2** and supports a cipher suite in the list above.\n\nAccessing the RESTful API using prior versions of TLS or unsupported cipher suites will result in connectivity errors. MyInfo Business' API gateway does not support 2-way TLS client nor mutual authentication.\n\nAPI HTTP interface features:\n\n1. __JSON__ (JavaScript Object Notation) is the supported data media format and indicated in `Content-Type` header `application/json`, also\n2. `Content-Length` header is omitted by having `Transfer-Encoding` header `chunked` emitted for streaming data, and\n3. __GZip__ (GNU Zip) response compression is supported by opt-in `Accept-Encoding: gzip` and indicated in `Content-Encoding` header `gzip`.\n\n## OAuth2.0\nMyInfo Business APIs use OAuth2.0 authorisation code flow to perform authentication & authorisation.\n\nThe sequence diagram below illustrates the steps involved in integrating your application with our APIs:\n\n![OAuth](https://public.cloud.myinfo.gov.sg/images/myinfobiz-sequence-diagram.png)\n\nThe flow consists of 3 APIs:\n1. **Authorise**\n    * This will trigger the CorpPass login and consent page. Once successful, your application will receive the **authorisation code** via your callback url.\n\n2. **Token**\n    * Call this server-to-server API with a valid **authorisation code** to get the **access token**.\n\n3. **Protected Resource (Entity-Person)**\n    * Call this server-to-server API with a valid  **access token** to get the entity and person data.\n\n\n## Application Authentication\n\nAccess to all server-to-server APIs will be authenticated by MyInfo Business' API gateway.\nPrior to consumption of API, respective consumers are required to have:\n\n* approval of access, onboarding process for the required API resources will be provisioned, and\n* authentication credentials are then supplied and exchanged.\n\nAuthentication methods provided by MyInfo Business' API gateway on internet:\n\n* OAuth 2.0 using `SHA256withRSA` digital signature (see \"**Request Signing**\" section below)\n* Digital signature should be produced using a RSA private key with corresponding public certificate issued by one of the following compatible CAs:\n  * Comodo/Sectigo\n  * digiCert\n  * Entrust\n  * GeoTrust\n  * GlobalSign\n  * Netrust\n  * Thawte\n  * VeriSign\n\n\n\n\n## Request Signing\n**NOTE: Test and Production Environments only**<br><br>\nAll server-to-server API requests are to be digitally signed, by including the following parameters and values in the `Authorization` header:\n\n```\nPKI_SIGN app_id=\"{app_id}\",\nnonce=\"{random_nonce}\",\nsignature_method=\"RS256\",\nsignature=\"{base64_url_percent_encoded_signature}\",\ntimestamp=\"{unix_epoch_in_milliseconds}\"\n```\n\n*__Note__: Above sample is separated by lines for ease-of-reading, and new-line denotations are to be omitted in the actual request.*\n\n* `{app_id}` is the APP ID credential supplied upon onboarding,\n* `{random_nonce}` is an unique randomly generated text used for replay prevention,\n* `{signature_algorithm}` is the signature algorithm of the authenticating gateway.\n\n  * Value of __signature_algorithm__ = `RS256`\n\n* `{base64_url_percent_encoded_signature}` is the binary of the generated signature encoded in __Base64__ URL-safe format,\n* `{unix_epoch_in_milliseconds}` is the UNIX epoch time in milliseconds\n\n\n### Sample header with authorization parameters\nBelow is an example of an Authorization header for the sample application. Make sure you list the parameters in the sequence shown below.\n```\n  Authorization: PKI_SIGN\n  app_id=\"STG2-MYINFOBIZ-SELF-TEST\",\n  nonce=\"150590021034800\",\n  signature_method=\"RS256\",\n  signature=\"EEm+HEcNQajb5FkVd82zjojk+daYZXxSGPCOR2GHZeoyjZY1PK+aFMzHfWu7eJZYMa5WaEwWxdOdq5hjNbl8kHD7bMaOks7FgEPdjE++TNomfv7SMktDnIvZmPYAxhjb/C9POU2KT6tSlZT/Si/qMgD1cryaPwSeMoM59UZa1GzYmqlkveba7rma58uGwb3wZFH0n57UnouR6LYXDOOLkqi8uMZBuvRUvSJRXETAj2N0hT+4QJiN96Ct6IEQh/woZh0o74K5Ol9PpDSM08qC7Lj6N/k694J+hbBQVVviGn7/6mDkfbwdMDuoKs4t7NpqmAnwT+xaQSIZcexfrAVQYA==\",\n  timestamp=\"1505900210349\"\n```\n\n\n### Sample Code in `NodeJS`\n```\n  // generates the security headers for calling API gateway\n  function generateAuthorizationHeader(url, params, method, strContentType, authType, appId, keyCertContent, passphrase) {\n\n    if (authType == \"L2\") {\n      return generateRS256Header(url, params, method, strContentType, appId, keyCertContent, passphrase);\n    } else {\n      return \"\";\n    }\n  };\n\n  // Signing Your Requests\n  function generateRS256Header(url, params, method, strContentType, appId, keyCertContent, keyCertPassphrase) {\n    var nonceValue = nonce();\n    var timestamp = (new Date).getTime();\n\n    // A) Construct the Authorisation Token Parameters\n    var defaultAuthHeaders = {\n      \"app_id\": appId, // App ID assigned to your application\n      \"nonce\": nonceValue, // secure random number\n      \"signature_method\": \"RS256\",\n      \"timestamp\": timestamp // Unix epoch time\n    };\n\n    // B) Forming the Base String\n    // Base String is a representation of the entire request (ensures message integrity)\n\n    // i) Normalize request parameters\n    var baseParams = sortJSON(_.merge(defaultAuthHeaders, params));\n\n    var baseParamsStr = qs.stringify(baseParams);\n    baseParamsStr = qs.unescape(baseParamsStr); // url safe\n\n    // ii) concatenate request elements (HTTP method + url + base string parameters)\n    var baseString = method.toUpperCase() + \"&\" + url + \"&\" + baseParamsStr;\n\n    // C) Signing Base String to get Digital Signature\n    var signWith = {\n      key: fs.readFileSync(keyCertContent, 'utf8')\n    }; // Provides private key\n\n    // Load pem file containing the x509 cert & private key & sign the base string with it to produce the Digital Signature\n    var signature = crypto.createSign('RSA-SHA256')\n      .update(baseString)\n      .sign(signWith, 'base64');\n\n    // D) Assembling the Authorization Header\n    var strAuthHeader = \"PKI_SIGN app_id=\\\"\" + appId + // Defaults to 1st part of incoming request hostname\n      \"\\\",timestamp=\\\"\" + timestamp +\n      \"\\\",nonce=\\\"\" + nonceValue +\n      \"\\\",signature_method=\\\"RS256\\\"\" +\n      \",signature=\\\"\" + signature +\n      \"\\\"\";\n\n    return strAuthHeader;\n  };\n\n\n```\n\n## Token Validation\n**NOTE: Entity-Person APIs only**<br><br>\nAccess Tokens are in JWT format. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523). You will need to verify the token with our public cert (provided during application onboarding).\n### Sample Code in `NodeJS`\n```\n  // Sample Code for Verifying & Decoding JWS or JWT\n  function verifyJWS(jws, publicCert) {\n    // verify token\n    // ignore notbefore check because it gives errors sometimes if the call is too fast.\n    try {\n      var decoded = jwt.verify(jws, fs.readFileSync(publicCert, 'utf8'), {\n        algorithms: ['RS256'],\n        ignoreNotBefore: true\n      });\n      return decoded;\n    }\n    catch(error) {\n      throw(\"Error with verifying and decoding JWS\");\n    }\n  }\n\n```\n\n\n## Payload Signing and Encryption (Entity-Person)\n**NOTE: Entity-Person APIs in Test and Production environments only**<br><br>\nThe response payload for the **Entity-Person** API (for test and production environments) is first signed, then encrypted:\n  - Signing is done using [**JWS (JSON Web Signature)**](https://tools.ietf.org/html/rfc7515) format\n  - Encryption is done using [**JWE (JSON Web Encryption) Compact Serialization**](https://tools.ietf.org/html/rfc7516) format\n\nEncryption protects the data at rest while a signed payload means, if necessary, you will be able to pass this signed payload to a 3rd party where they can verify the payload's integrity with our public certificate.\n\nIn order to read the payload, you have to perform the following steps in order:\n  1. Decrypt the payload with your application's private key.\n  2. Validate the decrypted payload signature with our public key.\n  3. Decode the verified JWS payload using Base64 decode.\n\n\nAfter doing the above steps, your application will be able to extract the payload in JSON format.\n\n### STEP 1: Decryption\n* Encryption is done using your application's public key that you provided during onboarding. Decryption of the payload should be using the private key of that key-pair.\n* Current encryption algorithms used:\n  * **RSA-OAEP** (for content key wrapping)\n  * **AES256GCM** (for content encrytion)\n\n\n### Sample Code in `NodeJS`\n```\n  // Sample Code for decrypting JWE\n  // Decrypt JWE using private key\n  function decryptJWE(header, encryptedKey, iv, cipherText, tag, privateKey) {\n\n    return new Promise((resolve, reject) => {\n\n      var keystore = jose.JWK.createKeyStore();\n\n      var data = {\n        \"type\": \"compact\",\n        \"ciphertext\": cipherText,\n        \"protected\": header,\n        \"encrypted_key\": encryptedKey,\n        \"tag\": tag,\n        \"iv\": iv,\n        \"header\": JSON.parse(jose.util.base64url.decode(header).toString())\n      };\n      keystore.add(fs.readFileSync(privateKey, 'utf8'), \"pem\")\n        .then(function(jweKey) {\n          // {result} is a jose.JWK.Key\n          jose.JWE.createDecrypt(jweKey)\n            .decrypt(data)\n            .then(function(result) {\n              resolve(JSON.parse(result.payload.toString()));\n            })\n            .catch(function(error) {\n              reject(error);\n            });\n        });\n\n    })\n    .catch (error => {\n      throw \"Error with decrypting JWE\";\n    })\n  }\n\n```\n\n### STEP 2: Verification of Signature\nThe decrypted payload is signed according to [**JWS (JSON Web Signature)**](https://tools.ietf.org/html/rfc7515) format, similar to the access token.\n  - signature algorithm used is `RS256`.\n\n#### Sample Code in `NodeJS`\n```\n  // Sample Code for Verifying & Decoding JWS or JWT\n  function verifyJWS(jws, publicCert) {\n    // verify payload\n    // ignore notbefore check because it gives errors sometimes if the call is too fast.\n    try {\n      var decoded = jwt.verify(jws, fs.readFileSync(publicCert, 'utf8'), {\n        algorithms: ['RS256'],\n        ignoreNotBefore: true\n      });\n      return decoded;\n    }\n    catch(error) {\n      throw(\"Error with verifying and decoding JWS\");\n    }\n  }\n\n```\n\n\n\n\n\n\n# Understanding the Data Structure\nMyInfoBiz Entity and Person data follows a specific structure that you need to understand to traverse the data effectively. This section will explain the structure in detail.\n\nThe Entity-Person response includes both an Entity and a Person object (see diagram): ![Entity-Person Response Structure](https://public.cloud.myinfo.gov.sg/images/entity-person-response-structure.png \"Entity-Person Response Structure\")\n\nThe diagram below illustrates how the Entity data is represented logically:<br>\n![EDH Entity Data Structure](https://public.cloud.myinfo.gov.sg/images/entity-data-structure.png \"EDH Entity Data Structure\")\n\nThe diagram below illustrates how the Person data is represented logically:<br>\n![MyInfo Person Data Structure](https://public.cloud.myinfo.gov.sg/images/person-data-structure.png \"MyInfo Person Data Structure\")\n\n\n## Data Items (Top-Level)\nData Items are attributes that can be requested in the API. Each top-level data item can either be a **data item object** or an array of **data item objects**.\nEach **data item object** will consist of the following properties:\n  - `source` (see below)\n  - `unavailable` (in certain situations - see below)\n  - additional data properties containing data values or arrays\n\n\n### Data Source\n\n  The `source` property indicates the source of data. Possible values are:\n  * '1' - Government-verified\n  * '2' - User Provided\n  * '3' - Field is Not Applicable to this Entity\n  * '4' - Verified by SingPass\n\n\n\n## Data Properties\nIn each data item, there can be multiple data properties or arrays of data properties.\n\nEach data property will contain either:\n  - a `value` property, or\n  - a pair of `code` and `desc` properties, or\n  - an array of data properties, or\n  - other data properties\n\n\n**Note:**\n  - `value` property can be strings, numbers, or dates.\n  - `code` and `desc` pairs will contain the code and its matching description.\n  - `value` is mutually exclusive from (`code` + `desc`); i.e. if there is a `value`, there will not be any `code` or `desc`.\n  - Where there is `code`, there will always be a `desc` - no `value` will be present.\n\n\n**Exceptions:** For these cases, the values will be directly in the property and not in a `value`, `code` or `desc` subproperty:\n  - for data item metadata properties; e.g. `source` and `unavailable`\n  - for discriminator properties; e.g. `type` in address formats\n\n\n\n## Data Not Applicable\nSometimes, a requested data item or data property is not applicable to the entity. Examples include:\n  - a Business Entity (entitytype = `BN`) will never have a `shareholders` data item.\n  - a Business Entity (entitytype = `BN`) will never have a `declarations` data item.\n  - a Local Company (entitytype = `LC`) will never have `commencment-date` data property.\n\nFor a full list, refer to the descriptions in each of the data properties of the entity data model.\n\n### Data Item Not Applicable\nWhen a requested data item is **not applicable** to the entity:\n  - for data item objects, the `source` property will be **3**\n  - for data item arrays, an empty array will be returned\n\nIn such cases, please ignore the data item completely.\nCheck out the different Entity schemas for each type by selecting the different `entitype` discriminator in the specifications. E.g. if you choose \"BN\" (Business) entity type, you will see that `shareholders` schema is an empty array.\n\n\n### Data Property Not Applicable\n\n  - The Entity object has a `entitytype` discriminator which helps to specify the data properties applicable to each entity type.\n  - When a data property is **not applicable** to the entity, it will not appear in the schema of that particular entity type.\n\n\n\n\n\n## Data Unavailable\nIn other situations, a requested data item might not have any data for that data item from the data source; i.e. data is **unavailable**. Examples include:\n  - when an entity does not have any grants submitted/approved\n\n\n\n### Data Item Unavailable\n  - for data item objects, the data item will have the property `unavailable` with value **true**.<br>\n    In such cases, no additional properties (other than `source`) will be provided for the data item.\n  - for data item arrays, an empty array will be returned.\n\nPlease display as \"Not Available\" in your form.\n\n\n### Data Property Unavailable\n  - for data property objects, the `value` or `code`/`desc` will be empty value (\"\") or NaN.\n  - for arrays of data properties, an empty array will be returned.\n\n\n\n\n\n\n\n# Error Handling\n\nThe RESTful API(s) uses HTTP specification standard status codes to indicate the success or failure of each request. Except gateway errors, the response content will be in the following JSON format:\n\n```\n{\n    \"code\": \"integer (int32)\",\n    \"message\": \"string\"\n}\n```\n> **Refer to the individual API definitions for the error codes you might encounter for each API.**\n\n\n# Support\nPlease refer to the links below for the following supporting materials where relevant:\n- [Myinfo Business demo app](https://github.com/ndi-trusted-data/myinfobiz-demo-app)\n- [Code reference tables (for Entity object)](https://public.cloud.myinfo.gov.sg/dpp/frontend/assets/api-lib/myinfobiz/downloads/myinfobiz-code-tables.xlsx)\n- [Code reference tables (for Person object)](https://public.cloud.myinfo.gov.sg/dpp/frontend/assets/api-lib/myinfo/downloads/myinfo-api-code-tables.xlsx)\n- [Test accounts for test environments](https://api.singpass.gov.sg/library/myinfobiz/developers/resources-personas)\n- [Reference user journey templates](https://api.singpass.gov.sg/library/myinfobiz/business/implementation-reference-journey)\n- [Handling of null/blank returns from Myinfo Business](https://public.cloud.myinfo.gov.sg/myinfobiz/myinfo-biz-handling-null-blank-returns-data-fields.xlsx)\n- [Position code table by entity type](https://public.cloud.myinfo.gov.sg/myinfobiz/Position_Code_Table_by_type.xlsx)\n\nFor technical queries, contact [support@myinfo.gov.sg](mailto:support@myinfo.gov.sg).\nFor business queries, contact [partner@myinfo.gov.sg](mailto:partner@myinfo.gov.sg).\n\n# Authentication\n\n<!-- ReDoc-Inject: <security-definitions> -->"
  },
  "tags": [
    {
      "name": "MyInfo Business",
      "description": "Entity-Person API resource operations to access corporate entity\n and person details."
    }
  ],
  "x-tagGroups": [
    {
      "name": "API Definitions",
      "tags": [
        "MyInfo Business"
      ]
    }
  ],
  "paths": {
    "/biz/v2/entity-person-sample/{uen}/{uuid}/": {
      "get": {
        "tags": [
          "MyInfo Business"
        ],
        "summary": "Entity-Person-Sample",
        "description": "Retrieves a sample Entity-Person data from MyInfo Business based on UEN and UIN/FIN.\n\nThis API does not use OAuth2.0 to perform authentication or authrisation, and does not require authorisation token and digital signature.\n\n**Note:** Null value indicates that an attribute is unavailable.",
        "servers": [
          {
            "url": "https://sandbox.api.myinfo.gov.sg/",
            "description": "Sandbox"
          }
        ],
        "operationId": "getentitypersonsample",
        "parameters": [
          {
            "in": "query",
            "name": "txnNo",
            "description": "Transaction ID from requesting digital services for cross referencing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "uen",
            "description": "Required URL path parameter of the entity's unique entity number. This value can be obtained from the sub (uen_uuid) in the decoded access_token.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10,
              "example": "T15LP0010D"
            }
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "Required URL path parameter of the person's uuid. This value can be obtained from the sub (uen_uuid) in the decoded access_token.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "f5230352-50d4-0001-74f2-11907b381069"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "required": true,
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "addresses,basic-profile,name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "x-code-samples": [
          {
            "lang": "Shell",
            "source": "curl https://sandbox.api.myinfo.gov.sg/biz/v2/entity-person-sample/T15LP0010D/0e8e3ce6-5a21-0dc7-2f90-41212b1d8726"
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n\n**Note:**\n- Response Content-Encoding will be 'gzip'.\n- Response Content-Type will be 'application/jose', which is a JSON object conforming to the JWE standard (https://tools.ietf.org/html/rfc7516).\n- Your application should decrypt the signature with your application's private key.\n- After decrypting the signature, your application will be able to extract the payload in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity-Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This could be due to the scenarios below:\n\n- **SCENARIO 1:** Requested 'uen'/'uuid' does not match the 'uen'/'uuid' of the person of the entity who logged in. When requesting for data of Person A and Entity A, the CorpPass login and consent must be by Person A from Entity A as well.\n\n\n- **SCENARIO 2:** Requested attributes does not match the attributes consented by person. This happens if the list of attributes in your request are different from the attributes specified when calling the token endpoint.\n\n\n- **SCENARIO 3:** Request contains attributes that are not allowable for the digital service. This happens when you request for attributes that are not allowed for your application. The list of allowable attributes for your application are preconfigured during the onboarding process.\n\nDetails will be given in the error object returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Digital service is not registered with MyInfo Business.\n\n**MESSAGE:** 'Digital Service is invalid'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. UIN/FIN and/or UEN does not exist in MyInfo Business.\n\n**MESSAGE:** 'UIN/FIN and/or UEN is invalid.'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "Profile Incomplete. User/Entity registered for MyInfo Business less than 1 working day.\n\n**MESSAGE:** 'Profile Incomplete'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error with request parameters or headers. Error details will be provided in the response body"
          }
        }
      }
    },
    "/biz/v2/authorise": {
      "get": {
        "tags": [
          "MyInfo Business"
        ],
        "summary": "Authorise",
        "description": "This API triggers CorpPass login and obtain consent for the MyInfo Business to retrieve person and entity data from MyInfo Business.\nOnce the user has authenticated and consented, an authorisation code (authcode) will be returned together with the state for verification via the callback URL defined.\nThe authcode can then be used to retrieve an access token via the Token API.\n\n**Note:** This API is public and should be implemented as a link or button on your online webpage.",
        "operationId": "getauthorise",
        "parameters": [
          {
            "in": "query",
            "name": "authmode",
            "description": "Mode of authentication used to obtain user consent. Default is \"CORPPASS\".",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "CORPPASS",
                "MOBILEID"
              ],
              "default": "CORPPASS"
            }
          },
          {
            "in": "query",
            "name": "purpose",
            "description": "State the purpose for requesting the data. This will be shown to the user for his consent.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "response_type",
            "description": "Response type for authorisation code flow - must be \"code\".",
            "allowEmptyValue": false,
            "required": false,
            "schema": {
              "type": "string",
              "default": "code"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "required": true,
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "addresses,basic-profile,name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "state",
            "description": "Identifier to reconcile query and response. This will be sent back to you via the callback URL. Use a unique system generated number for each and every call.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "redirect_uri",
            "description": "Your callback URL for MyInfo Business to return with the authorisation code.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string",
              "example": "STG-180099999K-TEST01"
            }
          }
        ],
        "responses": {
          "302": {
            "description": "Service will redirect all responses to 'redirect_uri' with additional parameters added as response results. Expected parameters include:\n- **code**: this is the authorisation code you will use when calling the token endpoint\n- **state**: this should be the same state passed in your initial URL.\n- **error**: if there are any errors encountered, the error code will be given in this parameter. If user did not give consent, error value will be 'access_denied', and refer to error_description parameter for the reason.\n- **error_description**: if error is 'access_denied' i.e. user did not give consent, the description will be 'Resource Owner did not authorize the request'.\n\n**Error Codes**\n- **'404'** - User/Entity not found or not registered with MyInfo Business.\n- **'428'** - Profile Incomplete. User/Entity registered for MyInfo Business less than 1 working day.\n- **'500'** - Unknown or other server side errors.\n- **'503'** - MyInfo Business under maintenance. Error description will also be given in error_description parameter.\n**Note:** If user closes the browser window prematurely, there will be no callback to the 'redirect_uri'. Therefore it is important for you to check the 'state' to verify that the transaction is the same."
          }
        },
        "x-code-samples": [
          {
            "lang": "JavaScript",
            "source": "function callAuthoriseApi() {\n  var authoriseUrl = authApiUrl + \"?client_id=\" + clientId +\n    \"&attributes=\" + attributes +\n    \"&purpose=\" + purpose +\n    \"&state=\" + state +\n    \"&redirect_uri=\" + redirectUrl;\n\n  window.location = authoriseUrl;\n}\n"
          }
        ]
      }
    },
    "/biz/v2/token": {
      "post": {
        "tags": [
          "MyInfo Business"
        ],
        "summary": "Token",
        "description": "This API generates an access token when presented with a valid authcode obtained from the Authorise API. This token can then be used to request for the person and entity data that were consented.",
        "operationId": "gettoken",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Add token constructed containing the RSA digital signature of the base string. Refer to **Security** > **Request Signing** on how this token should be generated.\n\n**Note:** This header is not required when calling Sandbox API.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK. returning a JSON object which contains the authorisation access token (JWT) that will be used to retrieve the data from MyInfo Business.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "AuthCode error - missing, invalid, expired, revoked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenError"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error. Error message will be in the response body"
          }
        },
        "requestBody": {
          "$ref": "#/components/requestBodies/gettoken"
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "// function to prepare request for TOKEN API\nfunction createTokenRequest(code) {\n  var cacheCtl = \"no-cache\";\n  var contentType = \"application/x-www-form-urlencoded\";\n  var method = \"POST\";\n  var request = null;\n\n  // preparing the request with header and parameters\n  // assemble params for Token API\n  var strParams = \"grant_type=authorization_code\" +\n    \"&code=\" + code +\n    \"&redirect_uri=\" + _redirectUrl +\n    \"&client_id=\" + _clientId +\n    \"&client_secret=\" + _clientSecret;\n  var params = querystring.parse(strParams);\n\n\n  // assemble headers for Token API\n  var strHeaders = \"Content-Type=\" + contentType + \"&Cache-Control=\" + cacheCtl;\n  var headers = querystring.parse(strHeaders);\n\n  // Sign request and add Authorization Headers\n  var authHeaders = generateAuthorizationHeader(\n    _tokenApiUrl,\n    params,\n    method,\n    contentType,\n    _authLevel,\n    _clientId,\n    _privateKeyContent,\n    _clientSecret\n  );\n\n  if (!_.isEmpty(authHeaders)) {\n    _.set(headers, \"Authorization\", authHeaders);\n  }\n\n  var request = restClient.post(_tokenApiUrl);\n\n  // Set headers\n  if (!_.isUndefined(headers) && !_.isEmpty(headers))\n    request.set(headers);\n\n  // Set Params\n  if (!_.isUndefined(params) && !_.isEmpty(params))\n    request.send(params);\n\n  return request;\n}\n"
          }
        ]
      }
    },
    "/biz/v2/entity-person/{uen}/{uuid}/": {
      "get": {
        "tags": [
          "MyInfo Business"
        ],
        "summary": "Entity-Person",
        "description": "This API returns person and entity data from MyInfo Business when presented with a valid access token obtained from the Token API.\n\n**Note:** Null value indicates that an attribute is unavailable.",
        "operationId": "getentityperson",
        "parameters": [
          {
            "in": "header",
            "name": "Authorization",
            "description": "Add authorization token constructed containing the RSA digital signature of the base string. Refer to **Security** > **Request Signing**  on how this token should be generated. Also include the access token (JWT) from /token API in your header prefixed with 'Bearer'.\n\n**Note:** Only the Bearer token is required when calling Sandbox API.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "uen",
            "description": "Required URL path parameter of the entity's unique entity number. This value can be obtained from the sub (uen_uuid) in the decoded access_token.",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 10,
              "example": "T15LP0010D"
            }
          },
          {
            "in": "path",
            "name": "uuid",
            "description": "Required URL path parameter of the person's uuid. This value can be obtained from the sub (uen_uuid) in the decoded access_token.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "f5230352-50d4-0001-74f2-11907b381069"
            }
          },
          {
            "in": "query",
            "name": "txnNo",
            "description": "Transaction ID from requesting digital services for cross referencing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "attributes",
            "required": true,
            "description": "Comma separated list of attributes requested. Possible attributes are listed in the scopes of the OAuth2 Security Schema above.",
            "style": "form",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "minimum": 1
              },
              "example": "addresses,basic-profile,name,hanyupinyinname"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "description": "Unique ID for your application.",
            "allowEmptyValue": false,
            "required": true,
            "schema": {
              "type": "string",
              "example": "STG-180099999K-TEST01"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK.\n\n**Note:**\n  - Response Content-Encoding will be 'gzip'.\n  - Response Content-Type will be 'application/jose', which is a JSON object conforming to the JWE standard (https://tools.ietf.org/html/rfc7516).\n  - Response contents are first signed, then encrypted. In order to access the data, your application should do the following steps in order:\n      1. Decrypt the payload with your application's private key.\n      2. Validate the decrypted payload signature with our public key.\n      3. Decode the verified JWS payload using Base64 decode.\n  - After doing the above steps, your application will be able to extract the payload in JSON format.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Entity-Person"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. This could be due to the scenarios below:\n\n- **SCENARIO 1:** Requested 'uen'/'uuid' does not match the 'uen'/'uuid' of the person of the entity who logged in. When requesting for data of Person A and Entity A, the CorpPass login and consent must be by Person A from Entity A as well.\n\n\n- **SCENARIO 2:** Requested attributes does not match the attributes consented by person. This happens if the list of attributes in your request are different from the attributes specified when calling the token endpoint.\n\n\n- **SCENARIO 3:** Request contains attributes that are not allowable for the digital service. This happens when you request for attributes that are not allowed for your application. The list of allowable attributes for your application are preconfigured during the onboarding process.\n\nDetails will be given in the error object returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden. Digital service is not registered with MyInfo Business.\n\n**MESSAGE:** 'Digital Service is invalid'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Not Found. UIN/FIN and/or UEN does not exist in MyInfo Business.\n\n**MESSAGE:** 'UIN/FIN and/or UEN is invalid.'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "428": {
            "description": "Profile Incomplete. User/Entity registered for MyInfo Business less than 1 working day.\n\n**MESSAGE:** 'Profile Incomplete'",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Error with request parameters or headers. Error details will be provided in the response body"
          }
        },
        "x-code-samples": [
          {
            "lang": "NodeJS",
            "source": "// function to prepare request for PERSON API\nfunction createPersonRequest(uuid, validToken) {\n  var url = _personApiUrl + \"/\" + uuid + \"/\";\n  var cacheCtl = \"no-cache\";\n  var method = \"GET\";\n  var request = null;\n  // assemble params for Person API\n  var strParams = \"client_id=\" + _clientId +\n    \"&attributes=\" + _attributes;\n  var params = querystring.parse(strParams);\n\n  // assemble headers for Person API\n  var strHeaders = \"Cache-Control=\" + cacheCtl;\n  var headers = querystring.parse(strHeaders);\n  var authHeaders;\n\n  // Sign request and add Authorization Headers\n  authHeaders = generateAuthorizationHeader(\n    url,\n    params,\n    method,\n    \"\", // no content type needed for GET\n    _authLevel,\n    _clientId,\n    _privateKeyContent,\n    _clientSecret\n  );\n\n  if (!_.isEmpty(authHeaders)) {\n    _.set(headers, \"Authorization\", authHeaders + \",Bearer \" + validToken);\n  }\n  else {\n    // NOTE: include access token in Authorization header as \"Bearer \" (with space behind)\n      _.set(headers, \"Authorization\", \"Bearer \" + validToken);\n  }\n\n  // invoke token API\n  var request = restClient.get(url);\n\n  // Set headers\n  if (!_.isUndefined(headers) && !_.isEmpty(headers))\n    request.set(headers);\n\n  // Set Params\n  if (!_.isUndefined(params) && !_.isEmpty(params))\n    request.query(params);\n\n  return request;\n}\n"
          }
        ],
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    }
  },
  "components": {
    "requestBodies": {
      "gettoken": {
        "content": {
          "application/x-www-form-urlencoded": {
            "schema": {
              "type": "object",
              "properties": {
                "code": {
                  "description": "The authcode given by the authorise API.",
                  "type": "string"
                },
                "grant_type": {
                  "description": "Grant type for getting token (default \"authorization_code\")",
                  "type": "string",
                  "default": "authorization_code"
                },
                "client_secret": {
                  "description": "Secret key given to your application during onboarding.",
                  "type": "string"
                },
                "client_id": {
                  "description": "Unique ID for your application.",
                  "type": "string"
                },
                "redirect_uri": {
                  "description": "Application's callback URL.",
                  "type": "string"
                },
                "state": {
                  "description": "Identifier that represents the user's session with the client, provided earlier during the authorise API call.",
                  "type": "string"
                }
              },
              "required": [
                "code",
                "client_secret",
                "client_id",
                "redirect_uri"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "oauth2": {
        "description": "The following are the available OAuth2 scopes for MyInfo Business APIs\n",
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "/authorise",
            "tokenUrl": "/token",
            "scopes": {
              "basic-profile": "(Entity) Basic Entity Profile",
              "previous-names": "(Entity) Previous Names",
              "previous-uens": "(Entity) Previous UENs",
              "addresses": "(Entity) Addresses",
              "financials": "(Entity) Financials",
              "capitals": "(Entity) Capitals",
              "appointments": "(Entity) Appointments",
              "shareholders": "(Entity) Shareholders",
              "grants": "(Entity) Grants",
              "builders-contractors": "(Entity) Builders and contractors",
              "gov-contracts": "(Entity) Government contracts",
              "licences": "(Entity) Licences",
              "uinfin": "(Person) NRIC/FIN",
              "name": "(Person) Full Name",
              "hanyupinyinname": "(Person) Han Yu Pin Yin name",
              "aliasname": "(Person) Alias name",
              "hanyupinyinaliasname": "(Person) Han Yu Pin Yin Alias name",
              "marriedname": "(Person) Married name",
              "sex": "(Person) Sex",
              "race": "(Person) Race",
              "secondaryrace": "(Person) Secondary Race",
              "dialect": "(Person) Dialect",
              "nationality": "(Person) Nationality/Citizenship",
              "dob": "(Person) Date of Birth",
              "birthcountry": "(Person) Country/Place of Birth",
              "residentialstatus": "(Person) Residential Status",
              "passportnumber": "(Person) Passport Number",
              "passportexpirydate": "(Person) Passport Expiry Date",
              "regadd": "(Person) Registered Address",
              "housingtype": "(Person) Housing Type",
              "hdbtype": "(Person) HDB Type",
              "ownerprivate": "(Person) Ownership of Private Property Status",
              "email": "(Person) Email Address",
              "mobileno": "(Person) Mobile Number",
              "marital": "(Person) Marital Status",
              "marriagecertno": "(Person) Certificate number of the latest marriage",
              "countryofmarriage": "(Person) Country of the latest marriage",
              "marriagedate": "(Person) Latest Marriage Date",
              "divorcedate": "(Person) Last Divorce Date",
              "childrenbirthrecords": "(Person) Details of Children Birth Records",
              "occupation": "(Person) Occupation",
              "employment": "(Person) Employer's Name",
              "workpassstatus": "(Person) Work pass status of a FIN holder",
              "workpassexpirydate": "(Person) Work pass expiry of a foreigner",
              "assessableincome": "(Person) Latest Assessable Income",
              "assessyear": "(Person) Year of Assessment (for Assessable Income)",
              "noa-basic": "(Person) Notice Of Assessment (Basic)",
              "noa": "(Person) Notice Of Assessment",
              "noahistory-basic": "(Person) History of Notice Of Assessment (Basic)",
              "noahistory": "(Person) History of Notice Of Assessment",
              "cpfcontributions": "(Person) Employer CPF Contributions",
              "cpfbalances": "(Person) CPF Balances",
              "vehicles": "(Person) Vehicle Number"
            }
          }
        }
      }
    },
    "schemas": {
      "AuthTokenResponse": {
        "description": "Authorisation Token Response JSON",
        "type": "object",
        "properties": {
          "access_token": {
            "title": "JWTAccessToken",
            "description": "Access token to be used in the subsequent resource endpoint call. This is in the form of  JWT (JSON web token). Include this in your header as 'Bearer' when invoking the resource API. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523).\n\n**Note:** This token is returned in the form of a compact serialized string. Decode and verify the signature before use.",
            "type": "object",
            "properties": {
              "sub": {
                "type": "string",
                "description": "(subject) This is the identifier of the user who logged in."
              },
              "scope": {
                "type": "string",
                "description": "Space separated list of scopes allowed. This is the list scopes user has consented to."
              },
              "nbf": {
                "type": "string",
                "description": "(not before) - the time before which the token MUST NOT be accepted for processing"
              },
              "iss": {
                "type": "string",
                "description": "(issuer) Issuer of the JWT."
              },
              "txnid": {
                "type": "string",
                "description": "(transaction id) Unique string for reconciliation of transaction."
              },
              "client": {
                "type": "object",
                "description": "OAuth 2 client information and UEN info",
                "properties": {
                  "client_id": {
                    "type": "string",
                    "description": "Client ID",
                    "example": "STG2-MYINFO-SELF-TEST"
                  },
                  "client_name": {
                    "type": "string",
                    "description": "Client Name",
                    "example": "Myinfo Self Test App"
                  },
                  "entity_uen": {
                    "type": "string",
                    "description": "UEN of Entity",
                    "example": "T16GB0002G"
                  },
                  "entity_name": {
                    "type": "string",
                    "description": "Name of Entity",
                    "example": "GovTech"
                  }
                }
              },
              "subentity": {
                "type": "object",
                "description": "Entity that is receving the data",
                "properties": {
                  "subclient_id": {
                    "type": "string",
                    "description": "Client ID of the receiving Entity"
                  },
                  "subclient_name": {
                    "type": "string",
                    "description": "Client Name of the receiving Entity"
                  },
                  "entity_name": {
                    "type": "string",
                    "description": "Entity Name of the receiving Entity"
                  },
                  "entity_uen": {
                    "type": "string",
                    "description": "UEN of the receiving Entity"
                  },
                  "whitelist": {
                    "type": "boolean",
                    "description": "Indicator if receiving entity is whitelisted"
                  }
                }
              },
              "expires_in": {
                "type": "string",
                "description": "The remaining lifetime of the access token."
              },
              "iat": {
                "type": "string",
                "description": "(issued at) Time which JWT was issued at."
              },
              "exp": {
                "type": "string",
                "description": "(expiration time) time which JWT will expire"
              },
              "realm": {
                "type": "string",
                "description": "Realm for OAuth process."
              },
              "aud": {
                "type": "string",
                "description": "Audience for JWT."
              },
              "jti": {
                "type": "string",
                "description": "(JWT ID) unique identifier for the JWT token."
              },
              "cnf": {
                "type": "object",
                "description": null,
                "properties": {
                  "jkt": {
                    "type": "string",
                    "description": "Thumbprint of jwk in DPoP Proof"
                  }
                }
              },
              "jku": {
                "type": "string",
                "description": "JWKS url to retrieve partner's public encryption key"
              },
              "epk": {
                "type": "object",
                "description": "Partner's public key in JWK format",
                "properties": {
                  "use": {
                    "type": "string",
                    "description": "(Public Key Use) Identifies the intended use of the public key, such as \"enc\"",
                    "example": "enc"
                  },
                  "alg": {
                    "type": "string",
                    "description": "(Algorithm) Identifies the algorithm intended for use with the key",
                    "example": "ECDH-ES+A256KW"
                  },
                  "kty": {
                    "type": "string",
                    "description": "(Key Type) Identifies the cryptographic algorithm family used with the key, such as \"EC\"",
                    "example": "EC"
                  },
                  "kid": {
                    "type": "string",
                    "description": "(Key ID) Used to match a specific key, the ID of the key",
                    "example": "M-JXqh0gh1GGUUdzNue3IUDyUiagqjHathnscUk2nS8"
                  },
                  "crv": {
                    "type": "string",
                    "description": "Curve of the EC key",
                    "example": "P-256"
                  },
                  "x": {
                    "type": "string",
                    "description": "Generated from the EC public key",
                    "example": "qrR8PAUO6fDouV-6mVdix5IyrVMtu0PVS0nOqWBZosA"
                  },
                  "y": {
                    "type": "string",
                    "description": "Generated from the EC public key",
                    "example": "6xSbySYW6ke2V727TCgSOPiH4XSDgxFCUrAAMSbl9tI"
                  }
                }
              }
            }
          },
          "token_type": {
            "type": "string",
            "description": "Type of token (Bearer)",
            "default": "Bearer"
          },
          "expires_in": {
            "type": "integer",
            "description": "Expiry of access token (in seconds)"
          },
          "scope": {
            "type": "string",
            "description": "Scopes requested, separated by space"
          }
        },
        "required": [
          "access_token",
          "token_type"
        ]
      },
      "JWTAccessToken": {
        "title": "JWTAccessToken",
        "description": "Access token to be used in the subsequent resource endpoint call. This is in the form of  JWT (JSON web token). Include this in your header as 'Bearer' when invoking the resource API. This JWT complies to the standard 'JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants' (https://tools.ietf.org/html/rfc7523).\n\n**Note:** This token is returned in the form of a compact serialized string. Decode and verify the signature before use.",
        "type": "object",
        "properties": {
          "sub": {
            "type": "string",
            "description": "(subject) This is the identifier of the user who logged in."
          },
          "scope": {
            "type": "string",
            "description": "Space separated list of scopes allowed. This is the list scopes user has consented to."
          },
          "nbf": {
            "type": "string",
            "description": "(not before) - the time before which the token MUST NOT be accepted for processing"
          },
          "iss": {
            "type": "string",
            "description": "(issuer) Issuer of the JWT."
          },
          "txnid": {
            "type": "string",
            "description": "(transaction id) Unique string for reconciliation of transaction."
          },
          "client": {
            "type": "object",
            "description": "OAuth 2 client information and UEN info",
            "properties": {
              "client_id": {
                "type": "string",
                "description": "Client ID",
                "example": "STG2-MYINFO-SELF-TEST"
              },
              "client_name": {
                "type": "string",
                "description": "Client Name",
                "example": "Myinfo Self Test App"
              },
              "entity_uen": {
                "type": "string",
                "description": "UEN of Entity",
                "example": "T16GB0002G"
              },
              "entity_name": {
                "type": "string",
                "description": "Name of Entity",
                "example": "GovTech"
              }
            }
          },
          "subentity": {
            "type": "object",
            "description": "Entity that is receving the data",
            "properties": {
              "subclient_id": {
                "type": "string",
                "description": "Client ID of the receiving Entity"
              },
              "subclient_name": {
                "type": "string",
                "description": "Client Name of the receiving Entity"
              },
              "entity_name": {
                "type": "string",
                "description": "Entity Name of the receiving Entity"
              },
              "entity_uen": {
                "type": "string",
                "description": "UEN of the receiving Entity"
              },
              "whitelist": {
                "type": "boolean",
                "description": "Indicator if receiving entity is whitelisted"
              }
            }
          },
          "expires_in": {
            "type": "string",
            "description": "The remaining lifetime of the access token."
          },
          "iat": {
            "type": "string",
            "description": "(issued at) Time which JWT was issued at."
          },
          "exp": {
            "type": "string",
            "description": "(expiration time) time which JWT will expire"
          },
          "realm": {
            "type": "string",
            "description": "Realm for OAuth process."
          },
          "aud": {
            "type": "string",
            "description": "Audience for JWT."
          },
          "jti": {
            "type": "string",
            "description": "(JWT ID) unique identifier for the JWT token."
          },
          "cnf": {
            "type": "object",
            "description": null,
            "properties": {
              "jkt": {
                "type": "string",
                "description": "Thumbprint of jwk in DPoP Proof"
              }
            }
          },
          "jku": {
            "type": "string",
            "description": "JWKS url to retrieve partner's public encryption key"
          },
          "epk": {
            "type": "object",
            "description": "Partner's public key in JWK format",
            "properties": {
              "use": {
                "type": "string",
                "description": "(Public Key Use) Identifies the intended use of the public key, such as \"enc\"",
                "example": "enc"
              },
              "alg": {
                "type": "string",
                "description": "(Algorithm) Identifies the algorithm intended for use with the key",
                "example": "ECDH-ES+A256KW"
              },
              "kty": {
                "type": "string",
                "description": "(Key Type) Identifies the cryptographic algorithm family used with the key, such as \"EC\"",
                "example": "EC"
              },
              "kid": {
                "type": "string",
                "description": "(Key ID) Used to match a specific key, the ID of the key",
                "example": "M-JXqh0gh1GGUUdzNue3IUDyUiagqjHathnscUk2nS8"
              },
              "crv": {
                "type": "string",
                "description": "Curve of the EC key",
                "example": "P-256"
              },
              "x": {
                "type": "string",
                "description": "Generated from the EC public key",
                "example": "qrR8PAUO6fDouV-6mVdix5IyrVMtu0PVS0nOqWBZosA"
              },
              "y": {
                "type": "string",
                "description": "Generated from the EC public key",
                "example": "6xSbySYW6ke2V727TCgSOPiH4XSDgxFCUrAAMSbl9tI"
              }
            }
          }
        }
      },
      "Person": {
        "type": "object",
        "description": "Person instance's details",
        "allOf": [
          {
            "$ref": "#/components/schemas/PersonCommon"
          },
          {
            "$ref": "#/components/schemas/PersonCommunityCommercial"
          },
          {
            "$ref": "#/components/schemas/PersonFinancial"
          }
        ]
      },
      "PersonFinancial": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "noa-basic": {
            "description": "Summary of latest Notice of Assessment within the past three years.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NOABasic"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noa": {
            "description": "Detailed breakdown of latest Notice of Assessment within the past three years.",
            "allOf": [
              {
                "$ref": "#/components/schemas/NOA"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noahistory-basic": {
            "allOf": [
              {
                "$ref": "#/components/schemas/noahistory-basic"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "noahistory": {
            "allOf": [
              {
                "$ref": "#/components/schemas/noahistory"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfcontributions": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfcontributions"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfemployers": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfemployers"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfbalances": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfbalances"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfhousingwithdrawal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfhousingwithdrawal"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfhomeprotectionscheme": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfhomeprotectionscheme"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfdependantprotectionscheme": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfdependantprotectionscheme"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "cpfinvestmentscheme": {
            "allOf": [
              {
                "$ref": "#/components/schemas/cpfinvestmentscheme"
              }
            ]
          }
        }
      },
      "PersonCommon": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "partialuinfin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/partialuinfin"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "uinfin": {
            "allOf": [
              {
                "$ref": "#/components/schemas/uinfin"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "name": {
            "allOf": [
              {
                "$ref": "#/components/schemas/name"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hanyupinyinname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hanyupinyinname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "aliasname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/aliasname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hanyupinyinaliasname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hanyupinyinaliasname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriedname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriedname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "sex": {
            "allOf": [
              {
                "$ref": "#/components/schemas/sex"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "race": {
            "allOf": [
              {
                "$ref": "#/components/schemas/race"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "secondaryrace": {
            "allOf": [
              {
                "$ref": "#/components/schemas/secondaryrace"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "dialect": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dialect"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "nationality": {
            "allOf": [
              {
                "$ref": "#/components/schemas/nationality"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "dob": {
            "allOf": [
              {
                "$ref": "#/components/schemas/dob"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "birthcountry": {
            "allOf": [
              {
                "$ref": "#/components/schemas/birthcountry"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "residentialstatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/residentialstatus"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passportnumber": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passportnumber"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passportexpirydate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passportexpirydate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "regadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/regadd"
              }
            ]
          },
          "mailadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/mailadd"
              }
            ],
            "deprecated": true
          },
          "billadd": {
            "allOf": [
              {
                "$ref": "#/components/schemas/billadd"
              }
            ],
            "deprecated": true
          },
          "housingtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/housingtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hdbtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hdbtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "hdbownership": {
            "type": "array",
            "title": "HDBOwnership",
            "description": "HDB Ownership details\n",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/hdbownership"
                },
                {
                  "$ref": "#/components/schemas/DataFieldProperties"
                }
              ]
            }
          },
          "ownerprivate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ownerprivate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "email": {
            "allOf": [
              {
                "$ref": "#/components/schemas/email"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "homeno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/homeno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "mobileno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/mobileno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marital": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marital"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriagecertno": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriagecertno"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "countryofmarriage": {
            "allOf": [
              {
                "$ref": "#/components/schemas/countryofmarriage"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "marriagedate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/marriagedate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "divorcedate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/divorcedate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "childrenbirthrecords": {
            "type": "array",
            "title": "ChildrenBirthRecords",
            "description": "This refers to only local registered birth records(based on ICA’s electronic Birth Certificate Records from 1985 onwards).\n\nThis includes adoption of locally registered child.\n\nFor child below 21, the child’s Birth Cert No, Name, Sex, Race, Dialect, Date of Birth and Time of Birth will be shown.\n\nFor child above 21, only the child’s Birth Cert Number will be shown.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/childrenbirthrecords"
                }
              ]
            }
          },
          "sponsoredchildrenrecords": {
            "type": "array",
            "title": "SponsoredChildrenRecords",
            "description": "Details of children sponsored to be SC/PR/LTVP\n\nFor child below 21, the child's NRIC/FIN, Name, Sex, Race, Secondary Race, Dialect, Date of Birth, Country/Place of Birth, Residential Status and SC/PR/LTVP grant date will be shown.\n\nFor child above 21, only the child's last known NRIC/FIN will be shown.",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/sponsoredchildrenrecords"
                }
              ]
            }
          },
          "edulevel": {
            "allOf": [
              {
                "$ref": "#/components/schemas/edulevel"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "gradyear": {
            "allOf": [
              {
                "$ref": "#/components/schemas/gradyear"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "schoolname": {
            "allOf": [
              {
                "$ref": "#/components/schemas/schoolname"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "occupation": {
            "allOf": [
              {
                "$ref": "#/components/schemas/occupation"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "employment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/employment"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passtype"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passstatus": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passstatus"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "passexpirydate": {
            "allOf": [
              {
                "$ref": "#/components/schemas/passexpirydate"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "employmentsector": {
            "allOf": [
              {
                "$ref": "#/components/schemas/employmentsector"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "householdincome": {
            "allOf": [
              {
                "$ref": "#/components/schemas/householdincome"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ],
            "deprecated": true
          },
          "vehicles": {
            "allOf": [
              {
                "$ref": "#/components/schemas/vehicles"
              }
            ]
          },
          "drivinglicence": {
            "allOf": [
              {
                "$ref": "#/components/schemas/drivinglicence"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "academicqualifications": {
            "allOf": [
              {
                "$ref": "#/components/schemas/academicqualifications"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          }
        }
      },
      "PersonCommunityCommercial": {
        "type": "object",
        "description": "Person instance's details",
        "properties": {
          "merdekagen": {
            "allOf": [
              {
                "$ref": "#/components/schemas/merdekagen"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          },
          "pioneergen": {
            "allOf": [
              {
                "$ref": "#/components/schemas/pioneergen"
              },
              {
                "$ref": "#/components/schemas/DataFieldProperties"
              }
            ]
          }
        }
      },
      "DataFieldProperties": {
        "type": "object",
        "required": [
          "classification",
          "source",
          "lastupdated"
        ],
        "properties": {
          "classification": {
            "type": "string",
            "maxLength": 1,
            "enum": [
              "C"
            ],
            "default": "C",
            "description": "Data classification of data field. Default 'C' - Confidential."
          },
          "source": {
            "type": "string",
            "maxLength": 1,
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ],
            "description": "Source of data.\n\n* '1' - Government-verified\n* '2' - User provided\n* '3' - Field is Not Applicable to Person\n* '4' - Verified by SingPass\n\n**Note:** All Government-verified fields must be **non-editable** on your digital service form (some exceptions apply - see individual field descriptions)."
          },
          "lastupdated": {
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Last updated date of data field. See \"full-date\" in http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14. Can be blank if the source agency does not have record for the user."
          },
          "unavailable": {
            "type": "boolean",
            "required": false,
            "description": "Optional flag to indicate if data is unavailable from data source.\n\n**NOTE:**\n  - This optional property will be only present with value `true` if there is no data available from the data source; i.e. record not found.\n  - When this flag is `true`, no other data attributes will be present (other than `classification`, `source`, and `lastupdated`).\n  - If data is available from the data source, this property will not be present.\n"
          }
        },
        "example": {
          "classification": "C",
          "source": "1",
          "lastupdated": "2019-03-26"
        }
      },
      "MyinfobizDataFieldProperties": {
        "type": "object",
        "required": [
          "classification",
          "source",
          "lastupdated"
        ],
        "properties": {
          "classification": {
            "type": "string",
            "maxLength": 1,
            "enum": [
              "C"
            ],
            "default": "C",
            "description": "Data classification of data field. Default 'C' - Confidential."
          },
          "source": {
            "type": "string",
            "maxLength": 1,
            "enum": [
              "1",
              "2",
              "3",
              "4"
            ],
            "description": "Source of data.\n\n* '1' - Government-verified\n* '2' - User provided\n* '3' - Field is Not Applicable to Person\n* '4' - Verified by SingPass\n\n**Note:** All Government-verified fields must be **non-editable** on your digital service form (some exceptions apply - see individual field descriptions)."
          },
          "lastupdated": {
            "type": "string",
            "format": "date",
            "required": false,
            "description": "Last updated date of data field. See \"full-date\" in http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14. "
          },
          "unavailable": {
            "type": "boolean",
            "required": false,
            "description": "Optional flag to indicate if data is unavailable from data source.\n\n**NOTE:**\n  - This optional property will be only present with value `true` if there is no data available from the data source; i.e. record not found.\n  - When this flag is `true`, no other data attributes will be present (other than `classification`, `source`, and `lastupdated`).\n  - If data is available from the data source, this property will not be present.\n"
          }
        },
        "example": {
          "classification": "C",
          "source": "1",
          "lastupdated": "2019-03-26"
        }
      },
      "AddressSG": {
        "type": "object",
        "description": "Address details (Singapore Format)",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of Address (SG or UNFORMATTED for non SG)",
            "default": "SG",
            "enum": [
              "SG",
              "UNFORMATTED"
            ]
          },
          "block": {
            "type": "object",
            "description": "Block/House of Address",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 10,
                "example": "548"
              }
            }
          },
          "building": {
            "type": "object",
            "description": "Building of Address",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 66,
                "example": ""
              }
            }
          },
          "floor": {
            "type": "object",
            "description": "Floor of Address",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 3,
                "example": "09"
              }
            }
          },
          "unit": {
            "type": "object",
            "description": "Unit of Address",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 5,
                "example": "128"
              }
            }
          },
          "street": {
            "type": "object",
            "description": "Street of Address",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 66,
                "example": "BEDOK NORTH AVENUE 1"
              }
            }
          },
          "postal": {
            "type": "object",
            "description": "Postal Code of Address",
            "properties": {
              "value": {
                "type": "string",
                "minLength": 6,
                "maxLength": 6,
                "example": "460548"
              }
            }
          },
          "country": {
            "type": "object",
            "description": "Country/Place of Address. For AddressSG this will always be \"SG\".",
            "properties": {
              "code": {
                "type": "string",
                "minLength": 2,
                "maxLength": 2,
                "default": "SG"
              },
              "desc": {
                "type": "string",
                "default": "SINGAPORE"
              }
            }
          }
        }
      },
      "dataitem-address-sg": {
        "type": "object",
        "description": "Address details (Singapore Format)",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressSG"
          },
          {
            "$ref": "#/components/schemas/DataFieldProperties"
          }
        ]
      },
      "AddressUnformatted": {
        "type": "object",
        "description": "Address details (Non-Singapore Format)",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of Address (SG or UNFORMATTED for non SG)",
            "default": "UNFORMATTED",
            "enum": [
              "SG",
              "UNFORMATTED"
            ]
          },
          "line1": {
            "type": "object",
            "description": "Unregistered Foreign address line 1",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 66,
                "example": "4578 SMITHFIELD AVENUE"
              }
            }
          },
          "line2": {
            "type": "object",
            "description": "Unregistered Foreign address line 2",
            "properties": {
              "value": {
                "type": "string",
                "maxLength": 66,
                "example": "HARTFORD CT 06120"
              }
            }
          }
        }
      },
      "dataitem-address-unformatted": {
        "type": "object",
        "description": "Address details (Non-Singapore Format)",
        "allOf": [
          {
            "$ref": "#/components/schemas/AddressUnformatted"
          },
          {
            "$ref": "#/components/schemas/DataFieldProperties"
          }
        ]
      },
      "HDBOwnership": {
        "type": "object",
        "title": "HDBOwnership",
        "description": "HDB Ownership details\n\n**TODO: is this tied to the registered address or the person (UINFIN) or both?**\n",
        "properties": {
          "noofowners": {
            "type": "object",
            "description": "Number of Owners. Note that this does not include executors, administrators or trustees.",
            "properties": {
              "value": {
                "type": "integer",
                "maximum": 9,
                "example": 2
              }
            }
          },
          "address": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AddressSG"
              }
            ]
          },
          "hdbtype": {
            "allOf": [
              {
                "$ref": "#/components/schemas/hdbtype"
              }
            ]
          },
          "leasecommencementdate": {
            "type": "object",
            "description": "Date from which the lease period starts. See \"full-date\" in http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14",
            "properties": {
              "value": {
                "type": "string",
                "format": "date",
                "example": "2008-06-13"
              }
            }
          },
          "termoflease": {
            "type": "object",
            "description": "Term of lease (in years) for the property computed from the lease commencement date.",
            "properties": {
              "value": {
                "type": "integer",
                "maximum": 99,
                "example": 99
              }
            }
          },
          "dateofpurchase": {
            "type": "object",
            "description": "Effective date of flat purchase. See \"full-date\" in http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14",
            "properties": {
              "value": {
                "type": "string",
                "format": "date",
                "example": "2008-06-13"
              }
            }
          },
          "dateofownershiptransfer": {
            "type": "object",
[...]
